<app-header [title]="'Article Details'"></app-header>
@if(userExtraInfo.role === 'writer'){
<div class="article-details-button">
  <button style="width: 185px" class="btn btn-primary" (click)="edit()">
    Edit Details
  </button>
</div>
}
<div class="article-details">
  <div class="article-details-heading-div">
    <h1>{{ article.title }}</h1>
    <div class="article-details-heading-div-author">
      <img src="../../assets/user.png" /><span>By {{ article.author }} </span
      ><br /><span class="read-msg">{{ article.minutes }} min read</span>
    </div>
  </div>
  <hr class="hr-1" />
  <div class="article-details-caption">
    <div class="article-details-caption-comments-div">
      <img
        class="article-details-caption-comment"
        src="../../assets/comment.png"
      />
      4K
    </div>
    @if(userExtraInfo.role==='reader'){
    <img
      class="article-details-caption-bookmark"
      role="button"
      (click)="toggleBookmark()"
      [src]="
        isBookmark
          ? '../../assets/bookmarks-fill.svg'
          : '../../assets/bookmarks.svg'
      "
    />
    }
  </div>
  <hr class="hr-2" />
  <div class="image-section">
    @if(article.images?.length){ @for(image of article.images; track $index){
    <div class="article-details-image">
      <img class="article-details-image-img" [src]="image" />
    </div>
    } }@else {
    <div class="article-details-image">
      <img
        class="article-details-image-img"
        src="../../assets/No_Image_Available.jpg"
      />
    </div>
    }
  </div>
  <div>
    {{ article.content }}
  </div>
</div>

<hr />
<div class="comments-section">
  <h4>Comments</h4>
  @for(comment of article.comments; track $index){
  <div class="row padding">
    <div class="col">
      <div class="d-flex flex-start">
        <img
          class="rounded-circle shadow-1-strong me-3"
          src="assets/profile.jpg"
          alt="avatar"
          width="65"
          height="65"
        />
        <div class="flex-grow-1 flex-shrink-1">
          <div>
            <div
              class="d-flex justify-content-between align-items-center"
              style="margin-top: 5px"
            >
              @if(comment.user){
              <p class="mb-1">
                {{ comment.user.displayName }}
              </p>
              }
            </div>
            <p class="small mb-0">
              {{ comment.comment }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  <div class="form-group comment-textarea">
    <textarea
      [(ngModel)]="newComment"
      type="text"
      placeholder="Add your comment here"
      class="form-control"
    ></textarea>
    <div class="d-grid gap-2 d-md-flex justify-content-end submit-comments">
      <button class="btn btn-primary" (click)="submitComment()">Submit</button>
    </div>
  </div>
</div>
